*, *:before, *:after {
    box-sizing: inherit;
}

html, body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

header {
    background-color: rgb(250, 225, 178);
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

h1 {
    font-family: 'Roboto', sans-serif;
    margin: 3rem;
    color: orange;
}

button {
    width: 100%;
    max-width: 500px;

    background-color: rgb(255, 182, 45);
    margin-bottom: 2rem;
    margin-top: 2rem;
    margin-left: 3rem;
    margin-right: 3rem;
    font-size: 1.5rem;
    border: 1px solid rgb(255, 182, 45);
    border-radius: 0.3rem;
    color: white;
}

main {
    max-width: 800px;
    margin: 0 auto;
    /* margin-left: auto;
    margin-right: auto; */
}

#blockquotes {
    font-size: 2rem;
}

#author {
    color:gray;
}

@media screen and (min-width: 667px) {
   
}